div
  .today-race-list.panel.panel-info
    .panel-heading.align-center
      = @date
    .panel-body
      - @race_per_place_list.each do |race_per_place|
        .race-per-date
          p.race-count
            = race_per_place[:race_place_info][:date]
          - race_per_place[:race_list].each do |race|
            = link_to horse_race_horse_list_path(target: race.url, target_date: params[:target_date], date: params[:date]), class: race.get_race_button_class do
              = "#{race.get_race_number}R"
  .horse-list-header.panel.panel-info
    .panel-body
      p.header-race-date-age
        = @race_detail[:date_age]
      p.header-race-number
        = @race_detail[:number]
      p.header-race-name
        = @race_detail[:name]
      p.header-race-condition
        = @race_detail[:condition]
      = link_to 'netkeiba', "http://race.netkeiba.com#{params[:target]}", class: 'btn btn-default header-netkeiba-link', :target=>["_blank"]
  table.table.table-bordered.table-hover.table-striped.horse-table
    thead
      tr
        th.header.align-center
          | 枠
        th.header.align-center
          | 番
        th.header.align-center
          | 馬名
        th.header.align-center
          | 性
        th.header.align-center
          | 齢
        th.header.align-center
          | 斤
        th.header.align-center
          | 騎手
        th.header.align-center
          | 率
        th.header.align-center
          | 人
        - if user_signed_in?
          th.header.align-center
            | 予想
        - @other_users.each do |user|
          th.header.align-center
            = truncate(user[:display_name], :length => 3, :omission => '')
    tbody
      - forecast_select = { "-" => 0, "◎" => 1, "○" => 2, "▲" => 3, "△" => 4, "☆" => 5 }
      - forecast_mark = { 1 => "◎", 2 => "○", 3 => "▲", 4 => "△", 5 => "☆" }
      - @horse_list.each do |horse|
        tr
          td class=horse.get_gate_class
            = "#{horse.gate_number}"
          td.horse-table.horse-number.text-upright.background-white
            = "#{horse.horse_number}"
          td.horse-table.horse-name
            = "#{horse.name}"
          td class=horse.get_sex_class
            = "#{horse.sex}"
          td.horse-table.horse-age.text-upright
            = "#{horse.age}"
          td.horse-table.horse-handi.text-upright
            = "#{horse.handi}"
          td.horse-table.horse-jockey
            = "#{horse.jockey}"
          td.horse-table.horse-odds.text-upright
            = "#{horse.odds}"
          td.horse-table.horse-rank.text-upright
            = "#{horse.rank}"
          - if user_signed_in?
            td.horse-table.forecast
              - if horse.gate_number.empty? then
                - return
              - @exists_forecast = false
              - @my_forecasts.each do |forecast|
                - if forecast[:horse_number].to_i == horse.horse_number.to_i then
                  = select :forecast, :key, forecast_select, :selected => forecast[:forecast], class: 'select-mark'
                  - @exists_forecast = true
              - if @exists_forecast == false
                = select :forecast, :key, forecast_select, class: 'select-mark'
          - @other_users.each do |other_user|
            - other_forecasts = @other_forecasts.where("user_id = ?", other_user.user_id)
            td.horse-table.forecast
              - other_forecasts.each do |other_forecast|
                - if other_forecast[:horse_number].to_i == horse.horse_number.to_i then
                  = forecast_mark[other_forecast[:forecast]]
#posts
  posts
= javascript_pack_tag 'posts_vue'
