<%= image_tag 'top_page_001.jpg' %>
<h1 class="title">Everybody Forecast</h1>

<div class="race-date-div panel panel-info">
  <div class="panel-heading align-center">開催日一覧</div>
  <div class="panel-body">
    <% @race_header.each do |header| %>
      <%= link_to header[:date], horse_race_race_list_path(target: header[:url], date: header[:date]), class: 'btn btn-primary race-date-button' %>
    <% end %>
  </div>
</div>
