<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div>
  <% @race_header.each do |header| %>
    <button type="button" class="btn btn-primary race-date">
      <%= link_to header[:date], welcome_race_list_path(target: header[:url]) %>
    </button>
  <% end %>
</div>
