// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.today-race-list {

  .race-per-date {
    height: 35px;
    border-bottom: inset 1px #EEEEEE;
  }

  .race-count {
    font-size: 15px;
    display: inline;
  }

  .race-detail {
    height: 25px;
    width: 50px;
    padding: 0;
    margin: 0, 0, 0, 0;
  }
}

.horse-list-header {
  background-color: #394c82;
  color: #FAFAFA;

  .header-race-date-age {
    font-size: 12px;
    margin: 0;
  }

  .header-race-number {
    display: inline;
    font-size: 20px;
  }

  .header-race-name {
    display: inline;
    font-size: 20px;
  }

  .header-race-condition {
    margin: 0;
  }

  .header-netkeiba-link {
    margin-top: -35px;
    float: right;
  }
}

.horse-table {
  font-size: 16px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  vertical-align: middle !important;

  .header {
    font-size: 12px;
  }

  .gate-number {
    text-orientation: upright;
  }

  .text-upright {
    text-combine-upright: all;
  }

  .horse-odds {
    transform: scale(2, 1);
  }

  .background-white {
    background-color: #ffffff;
    color: black;
  }

  .background-black {
    background-color: #333333;
    color: white;
  }

  .background-red {
    background-color: #dc3c3c;
    color: white;
  }

  .background-blue {
    background-color: #2c53a9;
    color: white;
  }

  .background-yellow {
    background-color: #e4ca3b;
    color: white;
  }

  .background-green {
    background-color: #58af4a;
    color: white;
  }

  .background-orange {
    background-color: #de8a26;
    color: white;
  }

  .background-pink {
    background-color: #dc6179;
    color: white;
  }
}

// posts
.post-table-div {
  max-height: 300px;
  overflow: scroll;

  .post-div {
    height: 35px;
    width: 500px;
    margin-bottom: 7px;
    border-bottom: inset 1px #EEEEEE;

    .name-time-div {
      width: 70px;

      .name {
        font-size: 12px;
        color: #555
      }

      .time {
        font-size: 8px;
        color: #AAA;
      }
    }

    .comment-div {

      .comment {
        height: 30px;
        width: 400px;
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
      }
    }
  }
}

.comment-area {
  background-color: #eeeeee;
  float: right;
  height: 120px;
  width: 320px;
  margin-right: 10px;
  border-radius: 10px;

  .comment-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  .text-comment {
    float: none;
    width: 300px;
    margin-left: 10px;
    resize: none;
  }

  .comment-button {
    margin-top: 10px;
    margin-left: 250px;
  }
}

.float-left {
  float: left;
}

.clearfix {
  clear: both;
  content: "";
}
