// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  font-size: 12px;
}

.horse-table {
  font-size: 16px;
}

.header-race-number {
  margin-top: -30px;
  margin-left: -30px;
  font-size: 40px !important;
}

.header-race-name {
  margin-top: -20px;
  margin-left: -30px;
  font-size: 40px !important;
}

.header-netkeiba-link {
  float: right;
}

table, td, th {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  vertical-align: middle !important;

  .gate-number {
    text-orientation: upright;
  }

  .text-upright {
    text-combine-upright: all;
  }

  .horse-odds {
    transform: scale(2, 1);
  }
}

.background-white {
  background-color: #ffffff;
  color: black;
}

.background-black {
  background-color: #333333;
  color: white;
}

.background-red {
  background-color: #dc3c3c;
  color: white;
}

.background-blue {
  background-color: #2c53a9;
  color: white;
}

.background-yellow {
  background-color: #e4ca3b;
  color: white;
}

.background-green {
  background-color: #58af4a;
  color: white;
}

.background-orange {
  background-color: #de8a26;
  color: white;
}

.background-pink {
  background-color: #dc6179;
  color: white;
}
