// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.race-date {
  width: 200px;
}

.horse-table {
  text-align: center;
  font-size: 18px;
  height: 40px;
}

.gate-number {
  width: 30px;
}

.horse-number {
  width: 50px;
}

.horse-name {
  width: 200px;
}

.horse-age {
  width: 100px;
}

.horse-handi {
  width: 40px;
}

.horse-jockey {
  width: 80px;
}

table, td, th {
  border: 2px #0088FF solid;
}
