
.title {
  position: absolute;
  top: 360px;
  left: 480px;
  font-size: 70px;
  color: white;
  -webkit-text-stroke:.9px gray;
}

.race-date-div {
  margin-top: 20px;
  width: 300px;
}

.race-date-button {
  margin-top: 5px;
  width: 270px;
}

.align-center {
  text-align: center;
}
