
// darken background image
.title-panel::before{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.title-panel {
  position: relative;
  height: 450px;
  margin-top: -20px;

  .top-page-image {
    height: inherit;
    width: 100%;
  }

  .title {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 90px;
    color: white;
    -webkit-text-stroke:.9px gray;
  }

  .sub-title {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: white;
    -webkit-text-stroke:.9px gray;
  }
}

.contents-panel {
  
  .race-date-div {
    margin-top: 20px;
    width: 300px;
  }
  
  .race-date-button {
    margin-top: 5px;
    width: 270px;
  }
  
  .align-center {
    text-align: center;
  }
}

