
.race-date-button-wide {
  width: 100px;
  margin-right: 5px;
}

.race-per-place-div {
  float: left;
  margin-left: 5px;
  width: 305px;
}

.race-detail {
  margin-left: 5px;
  margin-top: 5px;
  width: 250px;
}

.race-count {
  font-size: 20px;
}

.race-number-div {
  float: left;
  height: 53px;
  width: 35px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
}

.race-number {
  margin-top: 15px;
}
