doctype html
html
  head
    title
      | tekkaba
    meta[charset="utf-8"]
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    header.navbar.navbar-default[role="navigation"]
      .container
        .navbar-header
          = link_to 'tekkaba', root_path, class: 'navbar-brand'
        - if user_signed_in?
          = link_to 'Logout', sign_out_path, class: 'btn btn-primary button-session'
          p.user-header
            | Current User: 
            = current_user.user_name
        - else
          - if !request.url.match(/sign_in/)
            = link_to 'Login', new_user_session_path, class: 'btn btn-primary button-session'
    .container
      = yield
